$mainColor: #0e0030;

.navy {
  color: $mainColor;
}
@mixin copy {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert {
  @include copy();
}

.my-alert p {
  margin-bottom: 0;
}

.my-alert2 {
  @extend .my-alert;
  background-color: #ffe591;
}

.boom-enter {
  opacity: 0;
}

.boom-enter-activ {
  opacity: 1;
  transition: all 500ms;
}
